<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <!-- JQuery -->
        <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"
      ></script>
    
      <!-- OUR CSS AND JS -->
      <link rel="stylesheet" href="/edit.css" />
      <script src="/app.js" defer></script>
        <title>Rawle's Marvelous Movie Quotes</title>
    </head>
<body>

<div class="editcard">
<h2>
    Edit your quote from <%=quote.movie%> below!
</h2>

   <form action="/quotes/<%=quote._id%>?_method=PUT" method="post">

    Quote: <input type="text" name="quote" placeholder="Quote Text" value="<%=quote.quote %>"><br><br>
    Movie Character: <input type="text" name="character" placeholder="Character" value="<%=quote.character %>"><br><br>
    Movie: <input type="text" name="movie" placeholder="Movie" value="<%=quote.movie %>"><br><br>
    Release Year: <input type="number" name="year" placeholder="Release Year" value="<%=quote.year %>"><br><br>
    Performer: <input type="text" name="actor" placeholder="Actor/Actress" value="<%=quote.actor %>"><br><br>

    <input type="submit" value="Edit Movie Quote!" class="submit"><br><br><br><br>

   </form>
    <a href="/quotes"><button>Back to Quotes</button></a>
    </div>
</body>
</html>